<div style="width:100%;padding:10%">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
              <th class="col-1 text-center border-dark"></th>
              <th class="col-4 text-center border-dark">學校名稱</th>
              <th class="col-2 text-center border-dark">科系</th>
              <th class="col-2 text-center border-dark">就讀時間開始</th>
              <th class="col-2 text-center border-dark">就讀時間結束</th>
              <th class="col-3 text-center border-dark">是否畢業</th>
        </tr>
      </thead>
      <tbody>
        <tr>
           <td class="col-1  text-center border-dark "><font size="5">碩士</font></td>
           <td class="col-4  text-center border-dark"><font size="5">國立高雄大學</font></td>
           <td class="col-2  text-center border-dark"><font size="5">資訊工程學系<br>人工智慧實驗室</font></td>
           <td class="col-2  text-center border-dark"><font size="5">2015-09</font></td>
           <td class="col-2  text-center border-dark"><font size="5">2017-06</font></td>
           <td class="col-3  text-center border-dark"><font size="5">是</font></td>
        </tr>
        <tr>
           <td class="col-1  text-center border-dark "><font size="5">大學</font></td>
           <td class="col-4  text-center border-dark"><font size="5">國立暨南大學</font></td>
           <td class="col-2  text-center border-dark"><font size="5">資訊工程學系</font></td>
           <td class="col-2  text-center border-dark"><font size="5">2011-09</font></td>
           <td class="col-2  text-center border-dark"><font size="5">2015-06</font></td>
           <td class="col-3  text-center border-dark"><font size="5">是</font></td>
        </tr>
        <tr>
           <td class="col-1  text-center border-dark"><font size="5">高中</font></td>
           <td class="col-4  text-center border-dark"><font size="5">新北市立明德高中</font></td>
           <td class="col-2  text-center border-dark"><font size="5">不分科系</font></td>
           <td class="col-2  text-center border-dark"><font size="5">2008-09</font></td>
           <td class="col-2  text-center border-dark"><font size="5">2011-06</font></td>
           <td class="col-3  text-center border-dark"><font size="5">是</font></td>
        </tr>
      </tbody>
    </table>
</div>
